@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.sidebar {
    height: 100vh !important;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-text h1 {
    color: var(--main-text-color);
    transition: color 150ms ease;
    font-size: 48px;
    font-family: 'Candal', sans-serif;
}
.main-text h3, .main-text h1 {
    opacity: 0;
}
.main-text h1 span {
    color: rgb(0, 184, 230);
}
.main-text h3 {
    margin-top: 5px;
    color: var(--p-text-color);
    transition: color 150ms ease;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.main .cta-btn button {
    margin-top: 15px;
    background-color: #00B8E6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}
@media(max-width: 800px) {
    .main-text h1 {
        font-size: 30px;
        padding: 0px 5px;
    }
    .main-text h3 {
        font-size: 18px;
        padding: 0px 10px;
    }
}