*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #404040;
}
:root {
    --bar-width: 25px;
    --bar-height: 2.8px;
    --hamburger-gap: 3px;
    ---hamburger-animation: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}
html {
    scroll-behavior: smooth;
}
.fadein {
    animation: fadeIn 1000ms ease-in-out forwards;
}
.nav {
    position: fixed;
    min-width: 100%;
    background-color: #222222;
    width: 100%;
    display: flex;
    padding: 20px 30px;
    align-items: center;
}
.logo {
    width: max-content;
    min-width: 300px;
}
.logo-1 {
    color: #FF3939;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}
.logo-2 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-family: 'Candal', sans-serif;
    margin-left: 5px;
    transition: 200ms all ease;
    cursor: pointer;
}
.logo-2:hover {
    color: hsl(0, 0%, 90%);
}
.nav-list {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
}
.nav-list ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: 200ms all ease;
}
.nav-list ul li a:hover {
    color: rgb(56, 132, 231);
}
/* MOBILE NAV*/
.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: none;
    width: 100%;
    align-items: end;
    flex-direction: column;
    gap: var(--hamburger-gap);
    z-index: 100;
    cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: #fff;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(---hamburger-animation), width var(---hamburger-animation), rotate var(---hamburger-animation), translate var(---hamburger-animation);
}
.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}
.sidebar {
    display: none;
}
@keyframes show {
    0% {
        height: 0%;
    }
    100% {
        height: 150px;
    }
}
@keyframes hide {
    0% {
        height: 150px;
    }
    100% {
        height: 0%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@media(max-width: 800px) {
    .logo-2 {
        display: none;
    }
    .logo-1 {
        font-size: 26px;
    }
    .nav-list {
        display: none;   
    }
    .sidebar {
        top: 70px;
        position: fixed;
        background-color: rgba(102, 102, 102, 0.9);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 0;
        min-width: 100%;
    }
    .sidebar li {
        display: none;
    }
    .sidebar li a {
        text-decoration: none;
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }
    .sidebar nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }
    .nav-list ul .hamburger {
        display: block;
    }
    .hamburger-menu {
        display: flex;
    }
    .hamburger img {
        display: block;
        width: 30px;
        height: 30px;
    }
}
.section {
    background-color: #404040;
    min-height: 100vh;
    height: max-content;
}