* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.nav {
    position: fixed;
    min-width: 100%;
    background-color: #222222;
    width: 100%;
    display: flex;
    padding: 20px 30px;
    align-items: center;
}
.hamburger {
    display: none;
}
.logo {
    width: max-content;
    min-width: 300px;
}
.logo-1 {
    color: #FF3939;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}
.logo-2 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-family: 'Candal', sans-serif;
    margin-left: 5px;
    transition: 200ms all ease;
    cursor: pointer;
}
.logo-2:hover {
    color: hsl(0, 0%, 90%);
}
.nav-list {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
}
.nav-list ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: 200ms all ease;
}
.nav-list ul li a:hover {
    color: rgb(56, 132, 231);
}
@media(max-width: 800px) {
    .logo-2 {
        display: none;
    }
    .logo-1 {
        font-size: 26px;
    }
    .nav-list ul li {
        display: none;   
    }
    .nav-list ul .hamburger {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .hamburger img {
        display: block;
        width: 30px;
        height: 30px;
    }
}
/* MAIN SECTION */
.section {
    background-color: #404040;
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-text h1 {
    color: white;
    font-size: 48px;
    font-family: 'Candal', sans-serif;
}
.main-text h3 {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
@media(max-width: 800px) {
    .main-text h1 {
        font-size: 40px;
    }
    .main-text h3 {
        font-size: 18px;
    }
}