.portfolio .main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card {
    width: 30%;
    height: max-content;
    background-color: var(--bg-card);
    overflow: hidden;
    padding: 15px;
    border-radius: 15px;
    transition: background-color 200ms ease;
}
.card:hover {
    background-color: var(--bg-card-hover);
    border: 1px solid var(--main-text-color);
    cursor: pointer;
}
.card:hover .card-content .top img {
    transform: rotate(-45deg);
}
.card:hover .card-content {
    background-color: var(--bg-card-content-hover);
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.img-container {
    height: 100%;
}
.card-content {
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--bg-card-content);
    transition: background-color 200ms ease;
}
.card-content h1 {
    color: var(--main-text-color);
    font-family: 'Inter', sans-serif;
    width: 100%;
}
.card-content p {
    color: var(--p-text-color);
    font-family: 'Inter', sans-serif;
}
.card-content .top {
    display: flex;
}
.card-content img {
    height: 30px;
    width: 30px;
    transition: transform 200ms ease;
    cursor: pointer;
}
@media(max-width: 800px) {
    .card-content {
        flex-direction: column;
    }
    .card-content h1 {
        font-size: 20px;
    }
    .card-content p {
        font-size: 15px;
    }
    .card {
        width: 90%;
    }
    .card-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .card-content img {
        height: 20px;
        width: 20px;
    }
}