.portfolio .main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}
.card {
    width: 30%;
    height: max-content;
    background-color: #141414;
    overflow: hidden;
    padding: 15px;
    border-radius: 15px;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.img-container {
    height: 100%;
}
.card-content {
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    background-color: #272727;
}
.card-content h1 {
    color: var(--main-text-color);
    font-family: 'Inter', sans-serif;
    width: 100%;
}
.card-content p {
    color: var(--p-text-color);
    font-family: 'Inter', sans-serif;
}
.card-content .top {
    display: flex;
}
.card-content img {
    height: 30px;
    width: 30px;
}
@media(max-width: 800px) {
    .card-content {
        flex-direction: column;
    }
    .card {
        width: 90%;
    }
}